.wrapper {
  padding: 2rem;
}

.example-card {
  max-width: 25rem;
  margin: 1rem 0;
}

.example-header-image {
  background-image: url("https://www.thecocktaildb.com/images/ingredients/gin-Small.png");
  background-size: cover;
}
