<ng-container>
  <div class="main-container">
    <ng-container>
      <h1>Cocktails</h1>
    </ng-container>
    <ng-container>
      @for (drink of beverages; track $index) {
      <mat-card class="drink-card mat-elevation-z10" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ drink.strDrink }}</mat-card-title>
            <mat-card-subtitle
              >{{ drink.strCategory }} |
              {{ drink.strAlcoholic }}</mat-card-subtitle
            >
            <img alt="shiba" mat-card-sm-image [src]="drink.strDrinkThumb" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ drink.strInstructions }}
        </mat-card-content>
      </mat-card>
      }
    </ng-container>
  </div>
</ng-container>
